.mess {
  min-width: 80px;
  padding: 5px 7px 7px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: rgb(238, 238, 238);

  &__user {
    font-size: 0.8rem;
    font-weight: 700;
    color: rgb(0, 166, 255);
  }

  &__text {
    padding: 2px 0 2px 20px;
    margin-left: auto;
    word-break: break-all;
  }

  &__date {
    margin-left: auto;
    font-size: 0.8rem;
    color: rgb(125, 125, 125);
  }
}
