.message {
  margin-bottom: 10px;
  padding: 5px 7px 7px;
  border-radius: 10px;
  background: rgb(238, 238, 238);

  &__connection {
    align-self: center;
    font-size: 14px;
    color: rgb(125, 125, 125);
  }

  &__user {
    font-size: 12px;
    font-weight: 700;
    color: rgb(0, 166, 255);
  }

  &__text {
    padding-left: 20px;
  }
}
