.mess-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > * + * {
    margin-top: 10px;
  }

  .mess-day {
    padding: 4px 10px;
    align-self: center;
    border-radius: 13px;
    font-size: 14px;
    background: rgb(236, 236, 236);
    color: rgb(125, 125, 125);
  }

  .mess-connection {
    align-self: center;
    font-size: 14px;
    color: rgb(125, 125, 125);
  }
}
