.mess-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .mess-day {
    padding: 4px 10px;
    margin: 4px auto;
    border-radius: 13px;
    background: rgb(236, 236, 236);
    color: rgb(125, 125, 125);
    font-size: 14px;
  }

  .mess-connection {
    align-self: center;
    font-size: 14px;
    color: rgb(125, 125, 125);
  }
}
